<div class="top">
    <div class="logo">
        <a href="/"><img src="/logo.png" alt="Logo" width="120" height="120"></a>
    </div>
    <div class="name">
        <a href="/"><h1>Campus OLX</h1></a>
    </div>
    <div class="sell">
        <a href="/sell"><img src="/sell.png" width="80" height="80"></a>
    </div>
    <div class="profile">
        <a href="profile"><img src="/profile.png" alt="Profile" width="100" height="100"></a>            
    </div>    
</div>