<!DOCTYPE html>
<html lang="en">
 <%-include('./partials/head.ejs') %>
<body>
    
    <%-include('./partials/top.ejs') %>
    <div class="items">
        <table>
            <tr>
                <th>Name</th>
                <th>Model</th>
                <th>Price</th>
            </tr>            
        </table>
    </div>
    <a href="/register">Register</a>

    <footer>

    </footer>    
</body>
</html>