<!DOCTYPE html>
<html lang="en">
<%-include('./partials/head.ejs') %>
<body>
    <div class="images">
        
    </div>
    <div class="desc">
        <table>
            <tr>
                <th>Item Name</th>
                <td>Name</td>
            </tr>
            <tr>
                <th>Model / build</th>
                <td>Model ABC</td>
            </tr>
            <tr>
                <th>Price Asked</th>
                <td>₹5000/</td>                
            </tr>
            <tr>
                <th>ABCD</th>
                <tr>EFGH</tr>
            </tr>
        </table>
    </div>
</body>
</html>