<!DOCTYPE html>
<html lang="en">
<head>
    <%-include('./partials/head.ejs') %>
</head>
<body>
    <%-include('./partials/top.ejs') %>
    <div class="photo">
        <img src="/profilepic.jpg" alt="Profile Picture" height="400" width="700">  
        <!-- Only file name needed. Automatically looked into mentioned folder -->
    </div>
    <div class="details">
       <table>
           <tr>
               <th>Name</th>
               <td>Hemant</td>
           </tr>
           <tr>
            <th>Age</th>
            <td>30</td>
        </tr>
        <tr>
            <th>Program</th>
            <td>Ph.D</td>
        </tr>
        <tr>
            <th>Hostel</th>
            <td>Kameng</td>
        </tr>
       </table> 
    </div>
    <div class="upforsale">

    </div>
</body>
</html>