<!DOCTYPE html>
<html lang="en">
<head>
    <%-include('./partials/head.ejs') %>
</head>
<body>
    <%-include('./partials/top.ejs') %>
    
    
    <div class="sell_items">
        <h1>Sell your item here</h1>
        <form action="/sell" method="post" id="form">
            <label for="i_name">Item Name</label>
            <input type="text" id="i_name" name="i_name"> <br>
            <label for="model">Model/Build</label>
            <input type="text" id="model" name="model"> <br>
            <label for="price">Price Expected</label>
            <input type="text" id="price" name="price"> <br>
            <label type="negotiate">Is quoted price negotiable?</label>
            <select name="negotiate" id="negotiate">
                <option value="Yes">Yes</option>
                <option value="No">No</option>
            </select><br> 
            <!-- <label type="file">Upload Photo of the item</label>
            <input type="file" id="file" name="file1">  <br>
            <label type="file">Upload Another photo of the item from different side or angle</label>
            <input type="file" id="file2" name="file2"><br> -->
            <input type="submit" value="Submit">
              
        </form>
    </div>
    
</body>
</html>